
<!-- ZABORAVIO SAM ONU METODU KOLIKO SU DANA ONLAJN UPOTRIJEBIT -->
<div class="container">
	<div class="row">			
		{{#if flash}}
			<div class="alert alert-{{flash.type}} alert-dismissable">
			   	<button type="button" class="close" data-dismiss="alert" 
		       	aria-hidden="true">
		       	&times;
		   	 	</button>
			   	<p>{{flash.intro}}  {{{flash.message}}}</p>
			</div>
		{{/if}}	
		<div class="col-sm-6">
			<h1>USERS</h1>

			{{#each users}}
				<div class="well">
					<div class="row">
						<div class="col-sm-9">
							<p>{{this.username}}</p>
							<p>{{this.fullName}}</p>
							<p>{{this.memberSince}}</p>		
						</div>
						<div class="col-sm-3">
							<!-- ovo nije dobro -->
							<a href="/admin/deleteuser/{{this._id}}" class="btn btn-danger">Delete</a>

						</div>
					</div>
				</div>
			{{/each}}				
		</div><!-- end col-sm-6 -->
		
		<div class="col-sm-6">
			<h1>ADD USER</h1>
			<div class="well">	
				<form action="/admin/adduser" method="post">
				 	<div class="form-group">
				    	<label for="username">Username</label>
				    	<input type="text" class="form-control" name="username" placeholder="Username">
				  	</div>
				  	<!-- NEKI RANDOM GENERATOR PASSWORDA KADA GA ADMIN STVARA -->
				  	<div class="form-group">
				    	<label for="password">Password</label>
				    	<input type="password" class="form-control" name="password" placeholder="Password">
				  	</div>
				  	<div class="form-group">
				  		<label for="full-name">Full Name</label>
				  		<input type="text" class="form-control" name="fullName" placeholder="Full Name">
				  	</div>
				  	<button type="submit" class="btn btn-default">Submit</button>
				</form>						
			</div><!-- end well -->		
		</div><!-- end col-sm-6-->
	</div><!-- end row -->
</div><!-- end container -->



