<!doctype html>
<html>
	<head>

		<link rel="stylesheet" href="../vendor/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="../vendor/bootstrap/bootstrap-theme.min.css">
		<script src="../vendor/jquery/jquery.min.js"></script>
		<script src="../vendor/bootstrap/bootstrap.min.js"></script>
		<title>Admin</title>
	</head>
	<body>
		<!-- this expression will be replaced with the HTML for each view -->
		{{{body}}}
	</body>
</html>