
<div class="container">
	<h1>Add Memory</h1>
	<form action="/" method="post">
	 	<div class="form-group">
	    	<label for="city">City</label>
	    	<input type="text" class="form-control" name="city" placeholder="City">
	  	</div>
	  	<div class="form-group">
	    	<label for="startDate">Start Date</label>
	    	<input type="date" class="form-control" name="startDate">
	  	</div>
		<div class="form-group">
	    	<label for="endDate">End Date</label>
	    	<input type="date" class="form-control" name="endDate">
	  	</div>
	  	<div class="form-group">
	    	<label for="review">Review</label>
	    	<textarea type="text" class="form-control" name="review" placeholder="Start Your review"></textarea>
	  	</div>
	  	<button type="submit" class="btn btn-default">Submit</button>
	</form>	
</div>
