<div class="container">
	<h1>Welcome  {{username}}</h1>
	<!-- options -->
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<a href="/user/addmemory" class="btn btn-primary btn-block">Add New Memory</a>			
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<a href="/user/memories" class="btn btn-primary btn-block">See Your Memories</a>			
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<a href="/user/profile" class="btn btn-primary btn-block">Your Profile</a>			
			</div>
		</div>

	</div>
	<!-- recent memories -->
	<div class="row">
		<h1>Your Recent Memories</h1>
	</div>
	<div class="row">
		<h1>Google mapa sa oznacenim gradovima</h1>
	</div>
</div>