<div class="container">
	
	<!-- main-image -->
	<div class="row">
		<h1>Zorkan Memories</h1>
	</div>

	<!-- login register -->
	<div class="row">
		<div class="col-sm-6">
			<a href="/login" class="btn btn-primary">Log in</a>
		</div>
		<div class="col-sm-6">
			<a href="/signup" class="btn btn-primary">Sign up</a>
		</div>
	</div>
	
	<!--last user checkins-->
	<div class="row">
		<div class="col-sm-4">
			
		</div>
		<div class="col-sm-4">
			
		</div>
		<div class="col-sm-4">
			
		</div>
	</div>
</div>