<h1>Login</h1>
<div class="well">	
	{{#if message}}
		<div class="alert alert-warning alert-dismissable">
		   	<button type="button" class="close" data-dismiss="alert" 
	       	aria-hidden="true">
	       	&times;
	   	 	</button>
		   	<p>{{message}}</p>
		</div>		
	{{/if}}
	<form action="/login" method="post">
	 	<div class="form-group">
	    	<label for="username">Username</label>
	    	<input type="text" class="form-control" name="username" placeholder="Username">
	  	</div>
	  	<div class="form-group">
	    	<label for="username">Password</label>
	    	<input type="password" class="form-control" name="password" placeholder="Password">
	  	</div>
	  	<button type="submit" class="btn btn-default">Submit</button>
	</form>	
	
	<hr>

	<p>Need an Account? <a href="/signup">Sign up</a></p>
	<p>Go <a href="/">Home</a></p>

</div>
