<h1>SIGN UP</h1>
<div class="well">	
	{{#if message}}
		<div class="alert alert-warning alert-dismissable">
		   	<button type="button" class="close" data-dismiss="alert" 
	       	aria-hidden="true">
	       	&times;
	   	 	</button>
		   	<p>{{message}}</p>
		</div>		
	{{/if}}	
	<form action="/signup" method="post">
	 	<div class="form-group">
	    	<label for="username">Username</label>
	    	<input type="text" class="form-control" name="username" placeholder="Username">
	  	</div>
	  	<div class="form-group">
	    	<label for="password">Password</label>
	    	<input type="password" class="form-control" name="password" placeholder="Password">
	  	</div>
	  	<div class="form-group">
	    	<label for="password">Repeat Password</label>
	    	<input type="password" class="form-control" name="repeatPassword" placeholder="Repeat Password">
	  	</div>
	  	<div class="form-group">
	  		<label for="full-name">Full Name</label>
	  		<input type="text" class="form-control" name="fullName" placeholder="Full Name">
	  	</div>
	  	<button type="submit" class="btn btn-default">Submit</button>
	</form>		

	<hr>

	<p>Already have an Account? <a href="/login">Log in</a></p>
	<p>Go <a href="/">Home</a></p>

</div><!-- end well -->	